<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <title>Preclinic - Medical & Hospital - Bootstrap 4 Admin Template</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <!--[if lt IE 9]>
		<script src="/assets/js/html5shiv.min.js"></script>
		<script src="/assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>


    {{>header}}
    {{>sidebar}}
    <div class="page-wrapper">
        <div class="content">
            <div class="row">

                <div class="dash">
                    <h1>Doctor</h1>
                    <h3>Available:2</h3>
                </div>
                <div class="dash">
                    <h1>Patient</h1>
                    <h3>Total:1000</h3>
                </div>
                <div class="dash">
                    <h1>Appoinment</h1>
                    <h3>Today Appointment:12</h3>

                </div>
                <div class="dash">
                    <h1>Department</h1>
                    <h3>Total:5</h3>

                </div>
                <div class="dash">
                    <h1>Payroll</h1>
                    <h3>Today invoice:3.5k</h3>

                </div>
                <div class="dash">
                    <h1>Medicine store</h1>
                    <h3>Available:200</h3>

                </div>

                <style>
                    .dash {
                        background-color:  #8cdadf;
                        color: white;
                        width: 350px;
                        height: 150px;
                        padding: 10px;
                        margin: 50px 5%;
                        padding-left: 55px;
                        padding-top: 35px;
                        border-radius: 10px;


                        /* box-shadow: 0px 0px 10px skyblue,0px 0px 10px skyblue inset;*/
                    }
                    
                    .row{
                        background-color: #F8F8Ff;
                    }

                </style>

            </div>
        </div>
    </div>


    <div class="sidebar-overlay" data-reff=""></div>
    <script src="/assets/js/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.slimscroll.js"></script>
    <script src="/assets/js/Chart.bundle.js"></script>
    <script src="/assets/js/chart.js"></script>
    <script src="/assets/js/app.js"></script>

</body>



</html>